.vertical-timeline-element-content .vertical-timeline-element-date {
  font-weight: bold;
  color: black;
  font-weight: bold;
}

@media only screen and (min-width: 1170px) {
  .vertical-timeline--two-columns
    .vertical-timeline-element-content
    .vertical-timeline-element-date {
    position: absolute;
    width: max-content;
    left: 100;
    font-size: 25px;
    top: -6px;
    margin: 0;
    height: min-content;
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: rgb(148 163 184);
  }
}

@media only screen and (min-width: 768px) {
  .vertical-timeline-element-content .vertical-timeline-element-date {
    font-size: 24px;
    margin-left: 2rem;
  }
}
